body {
	margin:  0px;
	padding 0px;
}
.converter-body {
	width:  400px;
	height: 200px;
	background: green;
	position:  absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 0px 2px 1px;
}
.convertor-title {
	text-align: center;
	margin: 13px 0px;
}
input {
	height: 25px;
	text-align:center;
}
#input {
	margin-left:  25px;
}
#inputType,#resultType {
	width: 166 px;
	margin-left:  25px;
	color: red;
}
#resultType{
	margin-left:12.5px;
}